# Dependencies
**/node_modules/

# Environment
**/.env
!**/.env.example

# Logs
*.log

client/dist/
server/dist/
build/

detail.txt
# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Google Service Account
server/service-account.json